.comment {
	display: grid;
	grid-template-columns: 8rem max-content 1fr;
	grid-template-rows: 7.5rem minmax(11rem, 1fr);
	align-items: center;

	@media only screen and (max-width: $bp-small) {
		grid-template-rows: min-content minmax(10rem, 1fr) 5rem;
	}

	background-color: var(--color-white);
	width: min(80rem, 85vw);
	margin: 3rem auto;
	border-radius: 10px;
	box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.05);

	// Rating widget
	&__rating {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		font-size: 1.8rem;
		background-color: var(--color-moderate-light-gray);
		text-align: center;
		border-radius: 7px;
		transform: translateY(2rem);
		width: 3.5rem;
		height: 10rem;

		align-self: start;
		justify-self: center;
		@media only screen and (max-width: $bp-small) {
			grid-row: 3 / -1;
			flex-direction: row;
			align-items: center;
			transform: translateX(3rem);
			width: 10rem;
			height: 3.5rem;
		}

		span {
			color: var(--color-moderate-blue);
			margin: 2px 0;
		}

		button {
			background-color: transparent;
			border: none;
			cursor: pointer;
			width: 1.1rem;
			height: 1.1rem;
			background-size: contain;
			background-repeat: no-repeat;
		}

		&-like {
			background-image: url("../images/icon-plus.svg");

			&:hover,
			&:active {
				background-image: url("../images/icon-plus-hover.svg");
			}
		}

		&-dislike {
			background-image: url("../images/icon-minus.svg");

			@media only screen and (max-width: $bp-small) {
				transform: translateY(0.3rem);
			}

			&:hover,
			&:active {
				background-image: url("../images/icon-minus-hover.svg");
			}
		}
	}
	// Content
	p {
		font-size: 1.6rem;
		padding: 0 3rem 1rem 0;
		margin: 0;
		color: var(--color-grayish-blue);

		align-self: start;
		grid-row: 2 / -1;
		grid-column: 2 / -1;
		@media only screen and (max-width: $bp-small) {
			grid-row: 2 / 3;
			grid-column: 1 / -1;
			flex-direction: row;
			padding: 2rem;
		}
	}

	textarea {
		height: 10rem;
		border: 2px solid var(--color-light-gray);
		padding-left: 1.5rem;
		padding-top: 1rem;
		border-radius: 10px;
		font-size: 1.6rem;
		font-family: inherit;
		resize: none;
		margin-right: 3rem;
		color: var(--color-grayish-blue);

		align-self: start;
		grid-row: 2 / -1;
		grid-column: 2 / -1;

		@media only screen and (max-width: 600px) {
			grid-column: 1 / -1;
			grid-row: 2 / 3;
			justify-self: stretch;
			margin: 1rem 5vw;
		}

		&:focus {
			outline-color: var(--color-moderate-blue);
		}
	}
}

// User
.user {
	display: flex;
	align-items: center;
	font-size: 1.5rem;

	@media only screen and (max-width: $bp-small) {
		grid-column: 1 / -1;
		margin: 1rem;
		margin-top: 2rem;
	}

	&__name {
		font-weight: 700;
	}

	&__avatar {
		width: 3rem;
	}

	span {
		margin-left: 1.3rem;
	}

	&__createdAt {
		font-size: 1.4rem;
		color: var(--color-grayish-blue);
	}
}

.user--currentUser {
	&::before {
		content: "you";
		display: inline-block;
		background-color: var(--color-moderate-blue);
		color: var(--color-white);
		margin-right: 1.5rem;
		padding: 0 1rem;
	}
}

// Replies
button.reply {
	background: none;
	border: none;
	cursor: pointer;
	margin-left: auto;
	vertical-align: middle;
	transition: all 0.2s;

	@media only screen and (max-width: $bp-small) {
		align-self: flex-start;
		grid-column: 3 / -1;
	}

	img {
		margin-right: 1rem;
	}

	span {
		font-size: 1.6rem;
		font-weight: 700;
		color: var(--color-moderate-blue);
		margin-right: 2rem;
	}

	&:hover,
	&:active {
		span {
			color: var(--color-light-grayish-blue);
		}

		img {
			filter: brightness(2.3);
		}
	}
}

// Edit | Delete options
.options {
	display: flex;
	align-items: center;
	font-size: 1.4rem;

	@media only screen and (max-width: 600px) {
		grid-column: 3 / -1;
	}

	&__block {
		margin-right: 3rem;
		background-color: transparent;
		border: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: 1.6rem;

		@media only screen and (max-width: 600px) {
			margin-right: 1rem;
			font-size: 1.4rem;
		}

		img {
			margin-right: 0.5rem;
		}

		&:first-child {
			margin-left: auto;
		}

		&--delete {
			color: var(--color-soft-red);
		}

		&--edit {
			color: var(--color-moderate-blue);
		}

		&:hover,
		&:active {
			filter: brightness(2);
		}
	}
}

.tag {
	font-weight: 700;
	color: var(--color-moderate-blue);
}
