.heading {
	&-1 {
		font-family: "Raleway", sans-serif;
		font-size: 3.5rem;
		letter-spacing: 2px;
		font-weight: 700;
	}

	&-2 {
		font-family: "Raleway", sans-serif;
		font-size: 3rem;
	}

	&-3 {
		font-family: "Raleway", sans-serif;
		font-size: 2rem;
	}
}
