.lightbox {
	height: 100vh;
	width: 100vw;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--color-lightbox);
	display: none;
	justify-content: center;
	align-items: center;

	&__control {
		position: absolute;
		background-color: white;
		border: none;
		border-radius: 50%;
		height: 5rem;
		width: 5rem;
		cursor: pointer;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 1000;

		span {
			display: block;
			width: 100%;
			height: 100%;
		}

		&--next {
			right: -16%;
			top: 30%;

			span {
				display: block;
				width: 100%;
				height: 100%;
				background: url("../images/icon-next.svg") no-repeat center;

				&:hover {
					background: url("../images/icon-next-hover.svg") no-repeat center;
				}
			}
		}

		&--prev {
			left: -16%;
			top: 30%;

			span {
				display: block;
				width: 100%;
				height: 100%;
				background: url("../images/icon-previous.svg") no-repeat center;

				&:hover {
					background: url("../images/icon-previous-hover.svg") no-repeat
						center;
				}
			}
		}
	}

	&__close {
		position: absolute;
		right: -9%;
		top: -13%;
		height: 2rem;
		width: 2rem;
		border: none;
		background: none;
		cursor: pointer;

		span {
			display: block;
			width: 100%;
			height: 100%;
			background: url("../images//icon-close.svg") no-repeat center;

			&:hover {
				background: url("../images//icon-close-hover.svg") no-repeat center;
			}
		}
	}
}
